@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import '../variables.less';
html {
  font-size: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: @grey;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: @row-padding;
  padding-right: @row-padding;
  box-sizing: border-box;
}

.top-bar {
  display: flex;
  margin-left: -@row-padding;
  margin-right: -@row-padding;
  &__search {
    flex-grow: 1;
    padding-left: @row-padding;
    padding-right: @row-padding;
    .icon {
      padding-left: 3rem;
      background-position: 1.5rem center;
    }
  }
  &__cart {
    padding-left: @row-padding;
    padding-right: @row-padding;
  }
}

.footer {
  background: @dark-grey;
  color: @white;
  padding-bottom: 100px;
  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    color: @white;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 600;
  }
}

.btn {
  text-decoration: none;
  border: none;
  border-radius: @br;
  background-color: @blue;
  color: @white;
  font-size: 1rem;
  padding: 0 .7rem;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  box-sizing: border-box;
  white-space: nowrap;
  transition: background-color .1s;
  &:hover {
    background-color: @dark-blue;
    box-shadow: 0 4px 8px 0 rgba(133, 177, 229, 0.5);
  }
  &:active {
    background-color: @dark-blue2;

  }
}

.input-group {
  font-size: 1rem;
  display: flex;
  &__input {
    padding: 0.725em 1.6em;
    font-size: 1em;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid @grey;
    border-right: 0;
    border-radius: @br;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }
  &__submit {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 0.725em 1.6em;
    background: @blue;
    color: @white;
    font-weight: 600;
    border: 1px solid @blue;
    border-radius: @br;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: background-color .1s;
    &:not([disabled]):hover {
      cursor: pointer;
      background-color: @dark-blue;
      border: 1px solid @dark-blue;
    }
    &[disabled]:hover {
      cursor: not-allowed;
    }
    &:not([disabled]):active {
    background-color: @dark-blue2;
    }
  }
}

.input-group_small {
  font-size: .9rem;
  .input-group__input {
    padding-top: 0.325em;
    padding-bottom: 0.325em;
  }
  .input-group__submit {
    padding-top: 0.325em;
    padding-bottom: 0.325em;
  }
}

.input-group_border-white {
  .input-group__input {
    border: 1px solid @white;
  }
}

.input-checkbox {
  display: none;
  position: relative;
  &+label::before {
    display: inline-block;
    content: "";
    background: @white;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border-radius: @br;
    margin-right: 0.5rem;
    vertical-align: middle;
    text-align: center;
  }
  &:checked+label::before {
    content: url("../images/check.svg");
  }
  &:active+label::before {
    background: @light-grey;
  }
  &+label:hover {
    cursor: pointer;
  }
}

 ::placeholder {
  color: @grey;
}

.social {
  flex-basis: 30%;
  &__icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .5rem;
    border-radius: 50%;
    background: @white;
    text-decoration: none;
    color: @grey;
    text-align: center;
    overflow: hidden;
  }
}

.icon {
  background-image: url(../images/white.svg);
  background-repeat: no-repeat;
  background-position: 0.6rem center;
  padding-left: 2.4em;
  &-cart {
    background-image: url('../images/white.svg');
  }
  &-mail {
    background-image: url('../images/mail.svg');
  }
  &-search {
    background-image: url('../images/search.svg');
  }
}

@media (max-width: 990px) {
  html {
    font-size: 16px;
  }
  .sort__type {
    padding-left: .2em;
    padding-right: 0.3em;
  }
  .counter {
    &__value {
      width: 3em;
    }
  }
  .footer-wrap {
    flex-wrap: wrap;
  }
  .hide-mob {
    display: none;
  }
  .subscription {
    flex-grow: 1;
    padding-right: @row-padding;
    box-sizing: border-box;
    flex-basis: 290px;
  }
  .social {
    flex-grow: 1;
    flex-basis: 290px;
  }
}

@media (max-width: 768px) {
  .goods__list {
    justify-content: center;
  }
  .input-group__input {
    padding: 0.5em;
  }
  .products-search .input-group__submit {
    padding: 0.5em;
  }
  .top-bar__search .icon {
    padding-left: 2rem;
    background-position: center;
  }
  .cart-btn {
    padding: 0.5rem;
  }
}

.fadeInUp {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}