@import '../variables.less';
.subscription {
  color: @light-grey;
  font-size: 1rem;
  font-weight: 300;
  flex-basis: 40%;
  max-width: 500px;
  .input-group {
    margin-top: 1.5em;
  }
  &__thx {
    padding-top: 2rem;
  }
}