@import '../variables.less';

.cart-btn {
  display: inline-block;
  font-size: 0.9rem;
  border-radius: @br;
  border: 1px solid @grey;
  padding: .8rem 1.6em;
  font-weight: 600;
  text-decoration: none;
  color: @grey;
  white-space: nowrap;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(133, 177, 229, 0.5);
    cursor: pointer;
  }
  &__icon {
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      margin-right: .8rem;
      background-image: url('../images/cart-icon.svg');
      background-size: cover;
      vertical-align: middle;
    }
  }
  &__num {
    position: absolute;
    top: -0.2rem;
    left: .8rem;
    background: @blue;
    color: @white;
    font-size: 0.6rem;
    border-radius: 5em;
    padding-left: 0.4em;
    padding-right: 0.5em;
  }
}