@import '../variables.less';

.product {
  margin-right: @row-padding;
  margin-bottom: @row-padding;
  flex-basis: calc(~"100%/3 - "@row-padding);
  position: relative;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(133, 177, 229, 0.5);
  }
  &__image {
    height: 225px;
    border-radius: @br;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: linear-gradient(to bottom, #b8d7f3, #81aee3);    
    display: flex;
    overflow: hidden;
    img {
      margin: auto;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  &__image-render {
    background-image: linear-gradient(53deg, #faaca8, #ddd6f3);
  }
  &__image__default {
    background-image: linear-gradient(to bottom, #b8d7f3, #81aee3);
  }
  &__cont {
    border-radius: @br;
    border: 1px solid @medium-grey;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &__title {
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
  }
  &__price {
    font-size: 2.4rem;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  &__to-cart-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  &__to-cart {}
  &__info {
    position: absolute;
    height: 1.5rem;
    top: .5rem;
    right: .5rem;
    left: .5rem;
    text-align: right;
  }
}


.counter {
  font-size: 1rem;
  display: flex;
  margin-right: .5rem;  
  &__btn {
    font-size: 1em;
    background: transparent;
    border: 1px solid @medium-grey;
    border-radius: @br;
    height: 2em;
    width: 2em;
    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(133, 177, 229, 0.5);
    }
  }
  &__plus {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &__minus {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__img {
    object-fit: contain;
    height: 1em;
    width: 1em;
  }
  &__value {
    font-size: 1em;
    width: 4em;
    text-align: center;
    box-sizing: border-box;
  }
}


.info {
  position: relative;

  &__icon {
    position: relative;
    &:hover+.info__text {
      display: block;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__img {
    background: @white;
    padding: .2rem;
    border-radius: 50%;
  }
  &__text {
    display: none;
    position: absolute;
    text-align: left;
    top: 0rem;
    right: 0;
    padding: .2rem;
    margin-right: 2rem;
    background: white;
    border-radius: @br;
    box-shadow: 0 0 5px @medium-grey;
    font-size: 0.8rem;
  }
}
