@import '../variables.less';

.sort {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &__type {
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
    color: @blue;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
    &.active {
      font-weight: 600;
      color: @grey;
    }
  }
   ::after {
    content: "";
    display: none;
    background-image: url('../images/sort-icon.svg');
    background-position: center;
    background-size: cover;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    transition: rotate .1s;
  }
  &__type_down::after {
    display: inline-block;
  }
  &__type_up::after {
    display: inline-block;
    transform: rotate(180deg)
  }
}