@dark-grey: #262626;
@grey: #4a4a4a;
@medium-grey: #979797;
@light-grey: #d1d1d1;
@grey3: #e9ebed;
@white: #fff;
@dark-blue2: #265fff;
@dark-blue: #0072ff;
@blue: #269cff;
@medium-blue: #81aee3;
@light-blue: #b8d7f3;
@light-red: #faaca8;
@light-pink: #ddd6f3;
@row-padding: 15px;
@br: 4px;